@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #222;
}

@layer components {
  .user-option-item {
    @apply w-full  text-center py-2 text-white text-sm cursor-pointer;
  }

  .active-navbar-item {
    @apply navbar-item text-white bg-violet-800 hover:bg-violet-900;
  }

  .navbar-item {
    @apply w-7 h-7 rounded flex justify-center items-center text-violet-800 cursor-pointer text-xl;
  }

  .left-sides-header {
    @apply px-4 my-3 w-full flex justify-between cursor-pointer border-l-2 border-l-transparent hover:border-violet-800 transition py-3;
  }

  .post-operation-button {
    @apply text-xl text-violet-600 border p-1 rounded border-violet-700 hover:bg-violet-900;
  }

  .auth-input {
    @apply text-sm w-full bg-transparent border border-violet-900 h-10 my-2 font-main text-white px-2 outline-none;
  }

  .auth-button {
    @apply w-full text-white font-main text-sm hover:bg-violet-900 transition bg-violet-800 py-3 rounded;
  }

  .modal-input {
    @apply w-full h-10 rounded bg-transparent outline-none px-3 text-white font-main border-violet-900 border-b block my-6;
  }
}

.swal2-container {
  font-family: "Poppins";
}
.h-full-screen {
  height: calc(100vh - 4rem);
}

.slick-item > li {
  width: auto!important;
}

.slick-item .slick-active div{
  background: magenta!important;
}