@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #222;
}

@layer components {
  .user-option-item {
    @apply w-full  text-center py-2 text-white text-sm cursor-pointer;
  }

  .active-navbar-item {
    @apply navbar-item text-white bg-violet-800 hover:bg-violet-900;
  }

  .navbar-item {
    @apply w-7 h-7 rounded flex justify-center items-center text-violet-800 cursor-pointer text-xl;
  }

  .left-sides-header {
    @apply px-4 my-3 w-full flex justify-between cursor-pointer border-l-2 border-l-transparent hover:border-violet-800 transition py-3;
  }

  .post-operation-button {
    @apply text-xl text-violet-600 border p-1 rounded border-violet-700 hover:bg-violet-900;
  }

  .auth-input {
    @apply text-sm w-full bg-transparent border border-violet-900 h-10 my-2 font-main text-white px-2 outline-none;
  }

  .auth-button {
    @apply w-full text-white font-main text-sm hover:bg-violet-900 transition bg-violet-800 py-3 rounded;
  }

  .modal-input {
    @apply w-full h-10 rounded bg-transparent outline-none px-3 text-white font-main border-violet-900 border-b block my-6;
  }

  .send-message-btn {
    @apply text-sm bg-violet-800 h-12 py-1 shadow-md px-2 rounded flex items-center justify-center gap-2 text-white  font-main w-60 hover:bg-violet-900 transition;
  }

  .follow-btn {
    @apply bg-purple-800 py-2 font-main text-white rounded shadow-md hover:bg-purple-900 transition;
  }

  .following-btn {
    @apply bg-neutral-800  py-2 font-main text-white rounded shadow-md hover:bg-purple-900 transition;
  }
  .story-tool-btn {
    @apply shadow-md border border-white w-10 h-10 rounded-full text-white flex justify-center items-center stroke-black;
  }
}

.swal2-container {
  font-family: "Poppins";
}
.h-full-screen {
  height: calc(100vh - 4rem);
}

.slick-item > li {
  width: auto !important;
}

.slick-item .slick-active div {
  background: magenta !important;
}

.user-bg {
  background: rgb(109, 40, 217);
  background: linear-gradient(
    180deg,
    rgba(109, 40, 217, 1) 0%,
    rgba(171, 0, 255, 0) 100%
  );
}

.input-range__label-container{
  display: none!important;
}